<p id="notice"><%= notice %></p>

<h1>User Polymorphisms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_polymorphisms.each do |user_polymorphism| %>
      <tr>
        <td><%= link_to 'Show', user_polymorphism %></td>
        <td><%= link_to 'Edit', edit_user_polymorphism_path(user_polymorphism) %></td>
        <td><%= link_to 'Destroy', user_polymorphism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Polymorphism', new_user_polymorphism_path %>
